<div class="callout-table">
  <table>
    <tr>
      <th class="narrow">
        <%= f.label :mobile_responsive,
                    "Is your website mobile responsive?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_responsive, 'no' %>
        <%= f.label :mobile_responsive, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_responsive, 'yes' %>
        <%= f.label :mobile_responsive, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_responsive, 'n/a' %>
        <%= f.label :mobile_responsive, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_contact_info,
                    "Is the contact information on your mobile website above the fold?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_contact_info, 'no' %>
        <%= f.label :mobile_contact_info, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_contact_info, 'yes' %>
        <%= f.label :mobile_contact_info, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_contact_info, 'n/a' %>
        <%= f.label :mobile_contact_info, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_phone_number,
                    "Is the phone number on your mobile website click to call?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_phone_number, 'no' %>
        <%= f.label :mobile_phone_number, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_phone_number, 'yes' %>
        <%= f.label :mobile_phone_number, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_phone_number, 'n/a' %>
        <%= f.label :mobile_phone_number, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_directions,
                    "Does your mobile website have a click for directions feature?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_directions, 'no' %>
        <%= f.label :mobile_directions, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_directions, 'yes' %>
        <%= f.label :mobile_directions, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_directions, 'n/a' %>
        <%= f.label :mobile_directions, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_font_size,
                    "Is the font of your mobile website too small to read without zooming?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_font_size, 'no' %>
        <%= f.label :mobile_font_size, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_font_size, 'yes' %>
        <%= f.label :mobile_font_size, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_font_size, 'n/a' %>
        <%= f.label :mobile_font_size, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_buttons,
                    "Are the buttons and links on your mobile website too close together?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_buttons, 'no' %>
        <%= f.label :mobile_buttons, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_buttons, 'yes' %>
        <%= f.label :mobile_buttons, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_buttons, 'n/a' %>
        <%= f.label :mobile_buttons, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_navigation,
                    "Is your mobile website easy to navigate?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_navigation, 'no' %>
        <%= f.label :mobile_navigation, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_navigation, 'yes' %>
        <%= f.label :mobile_navigation, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_navigation, 'n/a' %>
        <%= f.label :mobile_navigation, 'N/A', :value => 'n/a' %>
      </td>
    </tr>

    <tr>
      <th class="narrow">
        <%= f.label :mobile_structure,
                    "Is there still a structure and hierarchy to the content on your mobile website?" %>
      </th>

      <td>
        <%= f.radio_button :mobile_structure, 'no' %>
        <%= f.label :mobile_structure, 'No', :value => 'no' %>
        <%= f.radio_button :mobile_structure, 'yes' %>
        <%= f.label :mobile_structure, 'Yes', :value => 'yes' %>
        <%= f.radio_button :mobile_structure, 'n/a' %>
        <%= f.label :mobile_structure, 'N/A', :value => 'n/a' %>
      </td>
    </tr>
  </table>
</div>
